.git/
.github/
.vscode/
docs/
node_modules/
scripts/
tmp/

.codeclimate.yml
.devcontainer.json
.docker-hub-token
.dockerignore
.editorconfig
.env.*
.gitignore
.travis.yml
docker-compose*
Dockerfile
LICENSE
