# Builds
.next/
build/
dist/

# Dependencies
/node_modules

# Docker Hub
.docker-hub-token
.docker-hub-username

# IDEs
.idea

# Testing
/coverage
/cypress/screenshots
/cypress/videos

# Miscellaneous
tmp/
.DS_Store
.env
Thumb.db
npm-debug.log*
yarn-debug.log*
yarn-error.log*
